@import 'media';
section.aboutSubBody {
background: rgb(52, 58, 64);
position: relative;
z-index: 0;
.se-tring {
position: relative;
width: 100%;
}
.se-tring span {
position: absolute;
width: 0;
height: 0;
bottom:-50px;
z-index: -2;
}
.se-tring .right {
border-bottom:100px solid rgb(33, 37, 41);
border-left: 30vw solid rgba(0, 0, 0, 0);
right: 0;
}
.se-tring .left {
border-bottom:100px solid rgb(33, 37, 41);
border-right: 70vw solid rgba(0, 0, 0, 0);
left: 0;
}
.piCs {
position: relative;
width: 100%;
height: 100%;
&::before {
content: '';
position: absolute;
top: 30px;
right: -15px;
width: 100%;
height: 85%;
border: 15px dashed rgb(255, 255, 255);
z-index: -1;
box-shadow: 0 -4px 17px -7px #000;
}
&::after {
content: '';
position: absolute;
top: -15px;
left: -15px;
width: 100%;
height: 96.9%;
border: 15px dashed rgb(255, 255, 255);
z-index: -1;
box-shadow: 0 -4px 17px -7px #000;
}
}
.aboutContent {
padding-left: 2rem;
.content {
h4 {
color: aliceblue;
font-family: inherit;
text-transform: capitalize;
}
span {
color: rgb(167, 174, 181);
}
p {
color: rgb(167, 174, 181);
}
.skill-item {
margin-bottom: 30px;
}
.skill-item span {
float: right;
}
.skill-item h6 {
color: aqua;
font-family: inherit;
}
.skills-progress {
height: 2px;
width: 100%;
background: rgb(240, 248, 255);
border-radius: 3px;
position: relative;

}
}
}
.profilePics {
box-shadow: 0 -4px 17px -7px #000;
}
}