*{
padding: 0;
margin: 0;
box-sizing:border-box;
}
*, ::after, ::before {
box-sizing: border-box;
}
a,
a:hover,
a:focus {
text-decoration: none;
outline: none;
color: #fff;
}
*:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
outline: none;
outline-width: 0;
}
.form-control:focus {
border-color: transparent !important;
box-shadow: none!important;
outline: 0 none!important;
}
hr {
box-sizing: content-box;
height: 0;
overflow: visible;
}
ul,
li {
list-style: none;
}
span {
display: inline-block;
}
img {
border-style: none;
width: 100%;
display: block;
height: 100%;
outline: none;
vertical-align: middle;
}
html, body {
font-size: 16px;
color: rgb(80, 80, 80);
font-family: "Google Sans", Arial, Helvetica, sans-serif;
vertical-align: baseline;
line-height: 1.5;
font-weight: 400;
overflow-x: hidden;
position: relative;
z-index: 0;
}